<div class="container mt-4">
  <h2 class="text-center mb-4">Add XODOZz</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          
          <div class="input-group mb-3">
            <input
              id="todoTitle"
              type="text"
              class="form-control"
              placeholder="Enter your todo here"
              [(ngModel)]="titleOfTodo"
              aria-label="Todo input"
              required
            />
          </div>

          <div class="input-group mb-3">
            <input
              id="todoDescription"
              type="text"
              class="form-control"
              placeholder="Description..."
              [(ngModel)]="descriptionOfTodo"
              aria-label="Todo description"
            />
          </div>

          <div class="input-group mb-3">
            <input
              id="todoDueDate"
              type="date"
              class="form-control"
              [(ngModel)]="dueDateString"
              aria-label="Due date"
              required
            />
          </div>

          <div class="input-group mb-3">
            <input
              id="todoDueTime"
              type="time"
              class="form-control"
              [(ngModel)]="dueTimeString"
              aria-label="Due time"
              required
            />
          </div>

          <button
            class="btn btn-primary btn-block"
            type="button"
            (click)="addTodoButton()"
            [disabled]="!titleOfTodo"
          >
            <i class="bi bi-plus-circle"></i> ADD
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
